doctype html
html
  head
    meta(charset="utf-8")
    title ShyMotion search top
    link(rel="stylesheet" type="text/css" href="./../top_assets/css/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="./../top_assets/css/main.css")
    link(rel="stylesheet" type="text/css" href="./../top_assets/css/twitter_ui.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css')
    script(type="application/javascript" src="./../top_assets/js/superagent.js")
  body
    img.header_line(src="./../top_assets/img/header_line.png")
    div.container
      a.url.font-white(href="{{FRONT_BASE_URL}}")
        h1.shymotion-title(align="center") Shy Motion
      // Search Form
      div.row
        form#search_form.col-lg-offset-3.col-md-6.col-sm-12.col-xs-12
          div.row.form-group
            // p Tweetされたユーザを探す
            input#twitter_user_id.form-control.margin-top-60.big-input(type="text" placeholder="@ユーザを探す" name="twitter_user_id" v-model="twitter_user_id")
            button.margin-10.big-input.shy-btn.col-xs-12.col-md-offset-4.col-md-4(onclick="seachTweetByUserID('{{twitter_user_id}}', true); return false;") 検索
    div.container
      div#instead_tweets.margin-top-60.row
        p#result_message.search_result_message(align="center" style="display: {{can_display}}") @{{search_twitter_user_id}}さんへのツイート
        div(v-repeat="tweets" style="color: black;")
          a(href="{{instead_tweet_url}}") :
            div.blockquote.twitter-tweet.margin-6.col-xs-12.col-md-offset-3.col-md-6
              h4.secret_nick_name From {{secret_nick_name}}
                span.date {{date}}
              span.twitter_user_id @{{twitter_user_id}}
              {{body}}
        button.margin-both-20.big-input.shy-btn.col-xs-12.col-md-offset-3.col-md-6.reload_reply(onclick="seachTweetByUserID('', false); return false;" style="display:{{can_display}};") 読み込み
      h3#non_result_tweet.search_result_message(align="center" style="display: {{is_display}}") ※検索したユーザIDに対するツイートはまだないよ
    // Scripts
    script(type="application/javascript" src="./../vue/src/vue.min.js")
    script(type="application/javascript" src="./../top_assets/css/bootstrap/js/jquery-1.10.2.min.js")
    script(type="application/javascript" src="./../top_assets/css/bootstrap/js/bootstrap.js")
    script(type="application/javascript" src="./../top_assets/js/env.js")
    script(type="application/javascript" src="./js/search_top.js")