doctype html
html
  head
    meta(charset="utf-8")
    title ShyMotion search top
    link(rel="stylesheet" type="text/css" href="./top_assets/css/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="./top_assets/css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css')
  body
    h1 search_topだよ