/* PC用 */
@media (max-width: 6000px) {

  .blockquote.twitter-tweet {
    display: inline-block;
    padding: 12px;
    /*max-width: 468px;*/
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    border-radius: 7px;
    background-color: #FFF;
    box-shadow: 7px 7px #444;
    color: #666;
    font-size: 27px;
  }
  
  .secret_nick_name {
    font-size: 32px;
    font-weight: bolder;
    color: #111;
  }
  
  .twitter_user_id {
    color: #6688FF;
  }
  
  .date {
    font-size: 20px;
    font-weight: right;
    margin-left: 10px;
  }

}

/* iPhone6用 start */
@media (max-width: 1000px) {
  
  .blockquote.twitter-tweet {
    display: inline-block;
    padding: 16px;
    /*max-width: 468px;*/
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 6px 6px #444;
    color: #666;
    font-size: 40px;
  }
  
  .secret_nick_name {
    font-size: 32px;
    font-weight: bolder;
    color: #111;
  }
  
  .twitter_user_id {
    color: #6688FF;
  }
  
  .date {
    font-size: 25px;
    /*text-align: right;*/
  }
  
}
/* iPhone6用 end */